/* SimpleCaddy css for Show cart plugin v2.0 for Joomla 2.5
Commented-out are background colors
If you activate these lines, you can easily identify each element in the cart
*/

.sc_cart {
	margin-left: 2px;
	margin-right: 2px;
	width: 100%;
/*	background-color: silver;*/
}
.selectItalic{
	font-style:italic;
}
.cartheading {
	font-weight: bold;
	font-size:larger;
}

.code_col {
	clear: both;
	float: left;
	margin-top: 2px;
	margin-bottom:2px;
	padding-top: 2px;
	height: 30px;
/*	width: 60px;*/
	width: 10%;
	display: inline;
	vertical-align: middle;
/*	background-color: green;*/
}

.desc_col {
	float: left;
	margin-top: 2px;
	margin-bottom:2px;
	padding-top: 2px;
	height: 30px;
/*	width: 140px;*/
	width: 40%;
	display: inline;
	vertical-align: middle;
	/*background-color: orange;*/
}

.price_col {
	float: left;
	margin-top: 2px;
	margin-bottom:2px;
	padding-top: 2px;
	height: 30px;
/*	width: 80px;*/
	width: 10%;
	text-align: right;
	display: inline;
	vertical-align: middle;
/*	background-color: yellow;*/
}

.qty_col {
	float: left;
	margin-top: 2px;
	margin-bottom:2px;
	padding-top: 2px;
	height: 30px;
/*	width: 40px;*/
	width: 10%;
	text-align:center;
	display: inline;
	vertical-align: middle;
/*	background-color: red;*/
}

.total_col {
	float: left;
	margin-top: 2px;
	margin-bottom:2px;
	padding-top: 2px;
	height: 30px;
/*	width: 90px;*/
	width: 15%;
	text-align: right;
	display: inline;
	vertical-align: middle;
/*	background-color: aqua;*/
}

.actions_col {
	float: left;
	margin-top: 2px;
	padding-left: 1px;
	padding-top: 2px;
	height: 30px;
/*	width: 130px;*/
	width: 14%;
	display: inline;
	vertical-align: middle;
/*	background-color: gray;*/
}

.tax_col {
	margin-top: 2px;
	margin-bottom:2px;
	padding-top: 2px;
	height: 30px;
	width: 400px;
	display: inline;
	vertical-align: middle;
	/*background-color: yellow;*/
}

.fill_col {
	clear: both;
	margin-top: 2px;
	margin-bottom:2px;
	height: 30px;
/*	width:410px;*/
	width: 85%;
	font-size: larger;
	font-weight: bold;
	display: block;
/*	background-color: purple;*/
}

.fill_col_total {
	clear: left;
	display:block;
	margin-top: 20px;
	margin-bottom:2px;
	height: 30px;
/*	width:410px;*/
	width: 85%;
	font-size: larger;
	font-weight: bold;
/*	background-color: fuchsia;*/
}

.cartactions {
	clear:both;
	margin-top: 2px;
	margin-bottom:2px;
	padding-top: 0;
	height: 30px;
	width: 100%;
	text-align: center;
/*	background-color: blue;*/
}

.text_left {
	float:left;
	display: inline;
	padding-top: 2px;
/*	background-color: yellow;*/
}

.text_right {
	float: right;
	padding-top: 2px;
	display: inline;
	height: 30px;
	text-align: right;
/*	background-color: red;*/
}

.voucher {
/*	background-color: red; */
	width:200px;
}

.voucherinfo {
	display: inline-block;
	font-size:smaller;
	font-weight: lighter;
	width: 150px;
/*	background-color: yellow;*/
}

.sc_edtqty{
	width: 30px;
	text-align: center;
}


/* buttons at the bottom of the cart display */
.btncshopping {

}

.btnemptycart {

}

.btnorder {

}

.btnconfirm {

}

.btnshowcart {

}

/* buttons at the right of the cart */
.btnchange {
	clear:both;
	float: left;
	margin-top: 0px;
	width:63px;
	display: inline;
}

.btnremove {
	float: left;
	margin-top: 0px;
	display: inline;
	width: 63px;
}

/* SimpleCaddy Styling of plugin
Below you will find TWO sets of css classes:
The first one starting at the top, for standard plugin display
The second (halfway down) for the plugin display in combination with Phoca Gallery
To use this second set, add the classsfx=-pg parameter to your plugin call
*/

.scproduct {
	width: 100px;
	float: left;
	clear: both;
}

.scprodcode {
	margin-left: 5px;
	float: left;
}

.scshorttext {
	clear: both;
	clear: both;
}

.scunitpricetext {
	width: 100px;
	margin-left: 0px;
	float: left;
}

.scunitprice {
	margin-left: 5px;
	float: left;
}

.scqtytext {
	clear: both;
	width: 100px;
	float: left;
}

.scqty {
	margin-left: 5px;
	float: left;
}

.cartoptions {
	clear: both;
/*	border: 1px solid yellow;
	width: 80px;*/
}

.scp_atc {
	clear: both;
/*	background-image: url('https://www.paypal.com/en_US/i/btn/btn_cart_SM.gif');
	border: 1px solid lime;
	width: 80px; */
}

.scavqtytext {
	clear: both;
	float: left;
	width: 100px;
}

.scavqty {
	width: 100px;
	float: left;
}

.sccart {
	font-family: sans-serif;
	font-style: normal;
	font-size: 10px;
	/*border: 1px solid purple;*/
/*	width: 80px;*/
}

.atczone {
	clear: both;
	/*border: 1px solid red;*/
}

.divider {
	background-color: gray;
	color:lime;
	font-weight: bold;
}

.errormsg{
    color:red;
    padding: 20px 0;

}

.scp_selectqty {

}

.scp_qty {
	width:30px;
}

.cartoptionstitle {
	font-size:18px;
}

/* Simple Caddy  for Phoca Gallery
designed By Jan Pavelka
*/
.scproduct-pg {
	width: 100px;
	text-align:left;
	float: left;
	clear: both;
	position:relative;
	margin: 0;
	padding: 0;
}

.scprodcode-pg {
	position:relative;
	float: right;
	text-align:right;
	margin: 0;
	padding: 0;
}

.scshorttext-pg {
	position:relative;
	clear: both;
	margin: 0;
	padding: 0;
}

.scunitpricetext-pg {
	position:relative;
	clear:both;
	margin:3px 0 0 0;
	padding:0;
	text-align:left;
	float: left;
}

.scunitprice-pg {
	position:relative;
	margin:3px 0 0 0;
	padding:0;
	float: right;
	text-align:right;
}

.scqtytext-pg {
	position:relative;
	clear: both;
	margin:3px 0 0 0;
	padding:0;
	width: 100px;
	float: left;
	text-align:left;
}

.scqty-pg {
	position:relative;
	margin:3px 0 0 0;
	padding:0;
	float: right;
	text-align:right;
}
.scqty-pg input {
	position:relative;
	width:30px;
	margin:0;
	padding:0;
}

.cartoptions-pg {
	position:relative;
	margin:3px 0 0 0;
	padding:0;
	clear: both;
	/*border: 1px solid yellow;
	width: 80px;*/
}


.btnemptycart-pg,
.btnshowcart-pg,
.btnchange-pg,
.btnremove-pg,
.btncshopping-pg,
.btnorder-pg,
.btnconfirm-pg,
.button-pg {
position:relative;

	margin:0;
	padding:0 5px 0 5px;
	margin-top:5px;
	font-weight:bold;
	/*text-transform:uppercase;*/
	letter-spacing:-0.1em;
    border-top:1px solid #ccc;
	border-right:1px solid #777;
	border-bottom:1px solid #777;
	border-left:1px solid #ccc;
	color:#ffffff;
	font-family:Arial, sans-serif;
	background:#003366 url(../images/bg-cart.png) repeat-x;
	-moz-border-radius:5px;
}

.btnemptycart-pg:hover,
.btnshowcart-pg:hover,
.btnchange-pg:hover,
.btnremove-pg:hover,
.btncshopping-pg:hover,
.btnorder-pg:hover,
.btnconfirm-pg:hover,
.button-pg:hover	{

	margin:0;
	padding:0 5px 0 5px;
	margin-top:5px;
	font-weight:bold;
	/*text-transform:uppercase;*/
	letter-spacing:-0.1em;
    border-top:1px solid #ccc;
	border-right:1px solid #777;
	border-bottom:1px solid #777;
	border-left:1px solid #ccc;
	color:#ffffff;
	font-family:Arial, sans-serif;
	background:#003366 url(../images/bg-cart-hover.png) repeat-x;
	-moz-border-radius:5px;
}

.scp_atc-pg {
position:relative;
	clear: both;
	float: right;
	margin:0;
	padding:0 5px 0 5px;
	margin-top:5px;
	font-weight:bold;
	/*text-transform:uppercase;*/
	letter-spacing:-0.1em;
    border-top:1px solid #ccc;
	border-right:1px solid #777;
	border-bottom:1px solid #777;
	border-left:1px solid #ccc;
	color:#ffffff;
	font-family:Arial, sans-serif;
	background:#003366 url(../images/bg-cart.png) repeat-x;
	-moz-border-radius:5px;
}

.scp_atc-pg:hover	{
	clear: both;
	float: right;
	margin:0;
	padding:0 5px 0 5px;
	margin-top:5px;
	font-weight:bold;
	/*text-transform:uppercase;*/
	letter-spacing:-0.1em;
    border-top:1px solid #ccc;
	border-right:1px solid #777;
	border-bottom:1px solid #777;
	border-left:1px solid #ccc;
	color:#ffffff;
	font-family:Arial, sans-serif;
	background:#003366 url(../images/bg-cart-hover.png) repeat-x;
	-moz-border-radius:5px;
}



.sccart-pg {
	position:relative;
	/*font-family: sans-serif;
	font-style: normal;
	font-size: 10px;*/
	margin:0;
	padding:0;
/*	border: 1px solid purple;
	width: 80px;*/
}

.atczone-pg {
	position:relative;
	clear: both;
	margin:0;
	padding:0;
}

.divider-pg {
	background-color: #dfdfdf;
	color:#3399ff;
	font-weight: bold;
}

.errormsg-pg{
    color:red;
    padding: 20px 0;
}

.scp_selectqty-pg {}

.scp_qty-pg {}

.cartoptionstitle-pg {
	position:relative;
	clear:both;
	float:left;
	margin:3px 0 0 0;
	padding:0;
	text-align:left;
}
.scoptionselect-pg select,
.scoptionselect-pg select option{
margin:0;
padding:0;

}
.scoptionselect-pg {
	position:relative;
	float:right;
	margin:3px 0px 0px 0px;
	padding:0;
	text-align:right;
}

.sc_error {
	border-top: 3px solid red;
	border-bottom: 3px solid red;
	text-align: center;
}

.tdright {
	text-align: right;
}

.downloadtable {
	border: 1px solid green;
}

/* new in sc2.0.5 */
.sc_details { /* font attributes */
    font-weight: bold;
}
.sc_details td { /* details row attributes */
    padding-top:3px;
    padding-left:20px;
}
.sc_details table { /* details table attributes */
    border-spacing: 5px;
    border-collapse: separate;
}
.reqfield {
    color: red;
}

.thumb {
	display: inline-block;
	width: 80px;
	height: auto;
	margin: 5px;
	padding: 2px;
}

.thumb:hover{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
	-moz-box-shadow:    0px 0px 30px 0px rgba(0, 255, 0, 0.67);
	box-shadow:         0px 0px 30px 0px rgba(0, 255, 0, 0.67);
}

.thumb:last-of-type:hover{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(232, 0, 0, 0.67);
	-moz-box-shadow:    0px 0px 30px 0px rgba(232, 0, 0, 0.67);
	box-shadow:         0px 0px 30px 0px rgba(232, 0, 0, 0.67);
}

.scshippingdiv {
	width: 300px;
	border-radius: 15px;
	border : 1px solid dimgray;
	padding: 5px;
}
.shippingoptionline {
	padding-left:10px;
}

.shippingoption {
	margin-left: 10px;
	width: 20px;
	display:inline-block;
}