<table>
    <tr>
        <td>Order ID</td><td>#orderid#</td>
    </tr>

    <tr>
    <td>Order date</td><td>#orderdatetime#</td>
    </tr>
    <tr>
        <td>Your information</td><td></td>
    </tr>
    <tr>
        #clientinfo#
    </tr>


</table>